
.cover-carrier-blog {
    background-image: url('../images/titleblog3.jpg');
}

.news-record {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #e8000f;
}

.news-subtitle {
    padding-top: 3px;
    padding-bottom: 22px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 2.5px;
}

.news-title {
    padding-top: 2px;
    padding-bottom: 0px;
    font-size: 32px;
    line-height: 1.23;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

.news-item-record {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #e8000f;
}

.news-item-title {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.news-item-description {
    font-size: 18px;
    line-height: 1.55;
    font-family: 'Georgia', serif;
    font-weight: 300;
    padding-top: 8px;
    padding-bottom: 6px;
    color: #ffffff;
}

@media  (min-width: 768px) {
    .prefix-news-item {
        padding-left: 50px;
    }
}

@media (min-width: 992px) {
    .prefix-news-item {
        padding-left: 170px;
    }
}
@media (min-width: 1200px) {
    .prefix-news-item {
        padding-left: 280px;
    }
}

.history-record {
    padding-top: 60px;
    padding-bottom: 30px;
    opacity: 1;
}

.black-text {
    color: #000000;
}

.history-item-record {
    padding-top: 60px;
    padding-bottom: 60px;
    opacity: 1;
}

.news-item-img {
    float: right;
    width: 100%;
}

.news-item-text-wrapper {
    padding-right: 30px;
}

.news-item-title-img {
    padding: 0px;
    margin: 0px;
    padding-bottom: 28px;
    font-size: 28px;
    line-height: 1.17;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: right;
}

.news-item-description-img {
    filter: alpha(opacity=85);
    KHTMLOpacity: 0.85;
    MozOpacity: 0.85;
    opacity: 0.85;
    font-size: 16px;
    line-height: 1.55;
    font-family: 'Georgia', serif;
    font-weight: 300;
    text-align: right;
}

.news-item-second {
    padding-top: 80px;
    opacity: 1;
}

.news-item-third {
    padding-top: 40px;
    opacity: 1;
}

.news-item-title-second {
    padding-right: 50px;
    padding-bottom: 34px;
    font-size: 18px;
    line-height: 1.23;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.news-item-description-second {
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 1.55;
    font-family: 'Georgia', serif;
    font-weight: 300;
}

.news-item-third.photo-gallery.carousel {
    margin-bottom: 0px;
}

.article-title {
    padding-top: 4px;
    cursor: pointer;
    border-bottom: dashed 1px #000000;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    line-height: 1.35;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #000000;
}

.article-description {
    font-style: italic;
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 12px;
    cursor: pointer;
    font-family: 'Georgia', serif;
    font-weight: 300;
    color: #000000;
}

@media  (min-width: 768px) {
    .prefix-article {
        padding-left: 0px;
    }
}

@media (min-width: 992px) {
    .prefix-article {
        padding-left: 120px;
    }
}
@media (min-width: 1200px) {
    .prefix-article {
        padding-left: 200px;
    }
}

.article-body {
    padding-bottom: 56px;
    padding-top: 28px;
    font-size: 16px;
    line-height: 1.55;
    font-family: 'Georgia', serif;
    font-weight: 300;
    color: #000000;
}