.main-body{
    margin: 0px;
}

.bg-record {
    padding-top:0px;
    padding-bottom:0px;
}

.main-cover {
    height: 100vh;
    background-image: -webkit-linear-gradient(top, #ccc, #777);
    background-image: -moz-linear-gradient(top, #ccc, #777);
    background-image: -o-linear-gradient(top, #ccc, #777);
    background-image: -ms-linear-gradient(top, #ccc, #777);
    background-image: linear-gradient(top, #ccc, #777);
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
}

.main-cover-bg {
    height: 100vh;
    position: relative;
    transform: translateY(0px);
    background-image: url("../images/main-title.jpg");
    background-attachment: scroll;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
}

.main-cover-bg-filter {
    height: 100vh;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.10), rgba(0,0,0,1));
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.10), rgba(0,0,0,1));
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.10), rgba(0,0,0,1));
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.10), rgba(0,0,0,1));
    background-image: linear-gradient(top, rgba(0,0,0,0.10), rgba(0,0,0,1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e5000000', endColorstr='#00000000');
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container-cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.width_100 {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

.valign_middle {
    height: 100vh;
    position: relative;
    z-index: 1;
    vertical-align: middle;

    display: table-cell;
    width: 1200px;
}

.text_align_center {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
}

.title_wrapper {
    padding-top: 42px;
    padding-bottom: 42px;
    margin: 0;
    border: 0;
}

.title {
    color: #fff;
    padding: 24px 0px 24px 0px;
    letter-spacing: 1px;
    line-height: 1.17;
}
.main_title {
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.description_title{
    color: #fff;
    padding: 15px 0px 30px 0px;
    filter: alpha(opacity=70);
    KHTMLOpacity: 0.70;
    MozOpacity: 0.70;
    opacity: 0.70;
    line-height: 1.55;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
}