.idea/codeStyles/codeStyleConfig.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/deployment.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/deployment.xml
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
